<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>In the clouds bookshop</title>
</head>
<body>
    <h1>Orders:</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Customer</th>
            <th>Quantity</th>
            <th>Cost</th>
            <th>Books</th>
        </tr>
        {% for order in orders %}
        <tr>
            <div class='id'>
                <td>
                    <a href="/orders/{{order.order_id}}">{{order.order_id}}</a>
                </td>
            </div>
            <td>{{order.order_date }}</td>
            <td>{{order.customer_name}}</td> 
            <td>{{order.quantity}}</td>
            <td>{{order.cost}}</td>
            <td class="dropdown">
                <select name="title">
                    {% for title in order.book_list %}
                    <option value="book title">{{ title }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>